<% include('../layouts/header.ejs') %>

    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>

    <h1>Admin Registration Form</h1>

    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter Name" required>
        <br><br>
        <input type="email" name="email" placeholder="Enter Email" required>
        <br><br>
        <input type="text" name="mobile" placeholder="Enter Mobile" minlength="10" maxlength="10" required>
        <br><br>
        <input type="text" name="admin" placeholder="Enter 0 OR 1" minlength="1" maxlength="1" required>
        <br><br>
        <input type="file" name="image" required>
        <br><br>
        <input type="password" name="password" placeholder="Enter Password" required>
        <br><br>
        <input type="submit" value="Register">
    </form>



    <% if(typeof message !=='undefined' ) { %>
        <p style="color: green;">
            <%= message %>
        </p>
        <% } %>
            <br><br>
            <button>
                <a href="/admin/login">Login</a>
            </button>


            <% include('../layouts/footer.ejs') %>