<% include('../layouts/header.ejs') %>

    <h1>
        ReVerification Mail
    </h1>

    <% if(typeof message !=='undefined' ) { %>
        <h3 style="color: red;font-weight: bold;">
            <%= message %>
        </h3>
        <% } %>

            <form action="" method="post">

                <input type="email" name="email" required placeholder="Enter Email">
                <br><br>
                <input type="submit" value="Send Mail">
            </form>

            <% include('../layouts/footer.ejs') %>